# Discord (для отображения статуса "В лаунчере")
DISCORD_APP_ID=

# Discord бот для команд !list, !player_check
DISCORD_BOT_TOKEN_FOR_BOT=

# JSONBin для хранения списка онлайн-игроков
JSONBIN_BIN_ID=
JSONBIN_API_KEY=

# Вебхук для отправки статистики в Discord
DISCORD_WEBHOOK_URL=
