# Секретные файлы (никогда не выкладывать!)
.env
.env.local
.env.production

# Файлы PyInstaller (сборка)
*.spec
dist/
build/
*.manifest

# Временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Папка с игрой и модами (она большая)
.turbo_launcher/

# Файлы IDE
.idea/
.vscode/
*.swp

# Логи
*.log
